<header class="page-header">
    <div class="container">
        <h2>WS Angular Chat</h2>
        <div class="row column-gap-2">
            <input class="form-control col-sm" [disabled]="IsConected" [(ngModel)]="Sender" />
            <button class="btn btn-primary col-sm-auto" (click)="OnConnect()" [disabled]="IsConected">Connect</button>
            <button class="btn btn-primary col-sm-auto" (click)="OnDisconnect()"
                [disabled]="!IsConected">Disconnect</button>
        </div>
    </div>
</header>

<div class="main">
    <div class="container ">
        <div class="chat-log">
            <div *ngFor="let message of Messages"
                [ngClass]="{'chat-log__itemown':message.Sender == Sender,'chat-log__item':true}">
                <h3 class="chat-log__author">{{message.Sender}} <small>{{message.Date}}</small></h3>
                <div class="chat-log__message">{{message.Text}}</div>
            </div>
        </div>
    </div>
    <div class="chat-form">
        <div class="container ">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <input type="text" class="form-control" placeholder="Message" [disabled]="!IsConected"
                            [(ngModel)]="Message" />
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <button type="submit" class="btn btn-success btn-block" (click)="SendMessage()"
                            [disabled]="!IsConected">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>